/* header{
    display: flex;
    flex-direction: row;
} */

body{
    font-family: "Roboto", sans-serif;
    

}

.nav-ul{
   
    
    margin: 20px auto;
   
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    width:80%;
    align-items: center;
}

ul li{
    list-style: none;
}

.nav-menu{
    display: flex;
    
}

.nav-menu li{
    margin: 0 20px;
}

.cook-text{
    font-weight:600;
    font-size: 1.7rem;
}

.orange-button{
    background-color: rgb(236, 136, 22);
    padding: 10px;
    align-self: center;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.nav-menu li:hover{
    color: rgb(236, 136, 22);
    font-weight: 500;
    cursor: pointer;
}

.body-grid{
    display: grid;
    grid-template-columns:2fr 1fr;
    align-items: center;
    width:90%;
    margin: 0 auto;
  
}

.hero{
    width: 500px;
}

.hero-texts{
    font-size: 1.8rem;
    word-spacing: 2px;
}

#easy, #tasty{
    color: rgb(236, 136, 22);

}

.hero-texts p{
    font-size: 1.1rem;
    line-height: 20px;
    opacity: 0.7;
    font-weight: 300;
}

.orange-button{
    padding:10px 15px;
    font-size: 1rem;
    font-weight: 400;
}

.section2{
    background-color: rgb(250, 242, 232);
    padding: 80px 20px;
    

}
.section2 .recipe-div{
    text-align: center;
  
   
}
.popular-recipes{
    font-size: 3.5rem;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 700;

}

.from-comfort{
    font-size: 1rem;
    opacity: .5;

    line-height: 20px;
    margin: 20px 0;

}

.section2-hero{
    width: 16rem;
    position: relative;
    bottom: 50px;
    
    
}

.section2-hero-container{
    width:14.8rem;
    height: 160px;
    overflow: hidden;
    border-radius: 20px;
    
}

.creamy-tomato{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
}

.section2-card p{
    font-size: 0.85rem;
    margin: 5px 0;
    line-height: 25px;
    opacity: .6;
}


.section2-card a{
    margin: 10px;
}

.outline-button{
    border: 1px solid rgba(0,0,0,0.7);
    width:90%;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}
.outline-button:hover{
    background-color: rgb(236, 136, 22);
    color:rgb(255, 255, 255);
    border: none;


}

.section2-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    align-items:flex-start;
    padding: 20px 10px;
    border-radius: 15px;
    width:100%;
    margin: 0 ;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    transition:transform 0.2s;
    
}
.section2-card:hover{
    transform: scale(1.03);
}
.section2-grid{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    gap:50px;

    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    width: 70%;;
   
    
}
.section3{
    text-align: center;
    justify-content: center;
    
}

.section3-hero-container{
    width: 220px;
    height: 260px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    display: inline-block;
    position: relative;

    
    
    
    
}
.section3-grad{
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6)) ;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.0;
    transition: 0.2s;
}

.section3-grad:hover{
    opacity: 1;
    
}
.section3-hero{
    width:400px; 

    
}



.section3-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:20px;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}

.cuisine{
    font-size: 2rem;
}

.right-icon{
    margin: 10px 0;
}
.right-icon img{
    width:30px;
    
}
.right-icon img:hover{
   color: rgb(236, 136, 22);
    
}

.first-right{
    transform:rotate(180deg);
    

}

.left{
    transform: rotate(180deg);

}

.left:hover {

background-color: rgb(249, 221, 190);
  border-radius: 20px;
  color:black;
  cursor: pointer;
  

}


.right:hover {

    background-color: rgb(249, 221, 190);
      border-radius: 20px;
      color:black;
      cursor: pointer;
      
    
    }
    



.overlay-text-div{
    position: absolute;
    bottom: 0;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    left:20px;
    z-index: 6;
    opacity: 1;
    transition: 0.3s;
}

.overlay-text-div span{
    transform: rotate(360deg);
}

.section4-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.05);
    padding: 10px 40px;
    border-radius: 10px;
  
}
.section4{
    margin-top: 100px;
}

.section4-hero{
    width: 300px;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.2));
}


.section4-h4{
    font-size: 2.4rem;
}

.section4-button{
    display: block;
    width: fit-content;
    margin-top: 30px;
    box-shadow: 2px 1px 3px rgba(0,0,0,0.2) ;

}

@media (max-width: 1400px) { 
    .section2-card{
        transform: scale(0.9);
        
    }
    .section2-grid{
        gap:20px;
    }


}

@media (max-width: 1380px){
    .section2-card{
        transform: scale(0.9);
        
    }

    .section2-hero{
        width: 16rem;
        position: relative;
        bottom: 50px;
        
        
    }
    
    .section2-hero-container{
        width:14.5rem;
        height: 160px;
        overflow: hidden;
        border-radius: 20px;
        
    }
    @media (max-width: 1380px){
        .section2-card{
            transform: scale(0.9);
            
        }
    
        .section2-hero{
            width: 16rem;
            position: relative;
            bottom: 50px;
            
            
        }
        
        .section2-hero-container{
            width:14.2rem;
            height: 160px;
            overflow: hidden;
            border-radius: 20px;
            
        }
    

    

}

@media (max-width: 1300px){
      .section2-card{
        transform: scale(0.85);}
        
    
    

    .section2-hero{
        width: 16rem;
        position: relative;
        bottom: 50px;
        
        
    }
    
    .section2-hero-container{
        width:13.6rem;
        height: 160px;
        overflow: hidden;
        border-radius: 20px;
        
    }

}

    

